<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="BitFactory.Logging" type="BitFactory.Logging.Configuration.LoggingSection, BitFactory.Logging"/>
  </configSections>
  
  <connectionStrings>

     <!-- AiDB Connection string is used for the dispatch messages -->
    <add name="AiDb" connectionString="Data Source=..\AilDb.sdf;Max Database Size=4000;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />

  </connectionStrings>
  
   
  <appSettings>
    <!-- Ail Schema Namespace -->
    <add key="SchemaUser" value="AiL"/>
    
    <!-- Dispatch Manager Application Server -->
    <add key="DispatchManagerAppServer" value="http://localhost:8000"/>
    
  </appSettings>
  
  <!-- ********************** APPLICATION LOGGING **************************************** -->
  <BitFactory.Logging name="global" xmlns="http://BitFactory.Logging">
    <compositeLoggers>
      <compositeLogger name="GlobalRollingFiles" isAsynchronous="true">

        <rollingDateFileLoggers>
          <rollingDateFileLogger name="myRollingFileLogger1" isEnabled="true" formattedFileName="Editor_{timestamp:yyyyMMdd}.log" maxFilesToKeep="10" autoDelete="true" severity="Debug"/>
        </rollingDateFileLoggers>

      </compositeLogger>
    </compositeLoggers>
  </BitFactory.Logging>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
