<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="BitFactory.Logging" type="BitFactory.Logging.Configuration.LoggingSection, BitFactory.Logging"/>
  </configSections>

  <appSettings>
    <add key="ConfigurationFile" value=".\setup.xml"/>
    <add key="Port" value="8080"/>
    <add key="RetriesBeforeKill" value="0"/>
  </appSettings>

  <BitFactory.Logging name="global" xmlns="http://BitFactory.Logging">
    <compositeLoggers>
      <compositeLogger name="GlobalRollingFiles" isAsynchronous="true">

        <rollingDateFileLoggers>
          <rollingDateFileLogger name="myRollingFileLogger1" isEnabled="true" formattedFileName="E:/Ail/Log/OpcProxy_{timestamp:yyyyMMdd}.log" maxFilesToKeep="30" autoDelete="true" severity="Debug"/>
        </rollingDateFileLoggers>

        <consoleLoggers>
          <consoleLogger name="myConsoleLogger" severity="Debug" isEnabled="true"></consoleLogger>
        </consoleLoggers>

        <!--<socketLoggers>
            <socketLogger name="mySocketLogger1" port="32010" host="localhost" isEnabled="true" severity="Critical" />
        </socketLoggers>-->

      </compositeLogger>
    </compositeLoggers>
  </BitFactory.Logging>

  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="OpcServerProxy.EnableCrossOriginResourceSharingBehavior, OpcServerProxy, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>

    <services>
      <service name="OpcServerProxy.OpcDaProxyService" behaviorConfiguration="OpcDaServiceBehavior">
        <clear/>
        <endpoint address="http://localhost:8080/OpcDa" binding="webHttpBinding" bindingConfiguration="OpcDaServiceBinding" behaviorConfiguration="RestEndpointBehavior" contract="OpcServerProxy.IOpcDaProxyService"></endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="OpcDaServiceBinding">
          <readerQuotas maxArrayLength="655360000" maxDepth="655360000" maxBytesPerRead="655360000" maxNameTableCharCount="655360000" maxStringContentLength="655360000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestEndpointBehavior">
          <webHttp automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" helpEnabled="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <crossOriginResourceSharingBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="OpcDaServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <serviceThrottling maxConcurrentCalls="150" maxConcurrentSessions="150" maxConcurrentInstances="150"/>
        </behavior>
        <behavior name="OpcDaConfigServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <serviceThrottling maxConcurrentCalls="150" maxConcurrentSessions="150" maxConcurrentInstances="150"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
