<div class="page-reset" ng-controller="AuthCtrl">

    <div class="form-container">

        <div class="additional-info text-center">
            <p class="text-small">To change your password, you will be required to enter your existing password and your new password twice.</p>
        </div>

        <div class="form-container text-center">

            <form class="form-horizontal" name="changePasswordForm">
                <div class="form-group">
                    <div class="input-group input-group-first">
                        <span class="input-group-addon">
                            <span class="ti-lock"></span>
                        </span>
                        <input type="password"
                                ng-model="vm.CurrentPassword" required 
                               class="form-control input-lg"
                               placeholder="Current password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-first">
                        <span class="input-group-addon">
                            <span class="ti-lock"></span>
                        </span>
                        <input type="password"
                                ng-model="vm.Password" required 
                               class="form-control input-lg"
                               placeholder="New password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-first">
                        <span class="input-group-addon">
                            <span class="ti-lock"></span>
                        </span>
                        <input type="password"
                                ng-model="vm.VerifyPassword" required 
                               class="form-control input-lg"
                               placeholder="Verify new password">
                    </div>
                </div>                

                <div class="divider divider-lg"></div>
                <div class="form-group">
                     <button ng-click="changepassword()" class="btn btn-primary btn-lg btn-block text-center">Change Password</button>
               </div>
            </form>
        </div>

    </div>
</div>